In [1]:
!pip install selenium
!pip install undetected-chromedriver
     
import undetected_chromedriver.v2 as uc
import time
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\srividya\anaconda3\lib\site-packages (4.0.0b4)
Requirement already satisfied: trio~=0.17 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: outcome in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: idna in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: sniffio in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\srividya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\srividya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\srividya\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\srividya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)
Requirement already satisfied: undetected-chromedriver in c:\users\srividya\anaconda3\lib\site-packages (3.0.3)
Requirement already satisfied: websockets in c:\users\srividya\anaconda3\lib\site-packages (from undetected-chromedriver) (10.0)
Requirement already satisfied: selenium==4.0.0b4 in c:\users\srividya\anaconda3\lib\site-packages (from undetected-chromedriver) (4.0.0b4)
Requirement already satisfied: requests in c:\users\srividya\anaconda3\lib\site-packages (from undetected-chromedriver) (2.25.1)
Requirement already satisfied: trio~=0.17 in c:\users\srividya\anaconda3\lib\site-packages (from selenium==4.0.0b4->undetected-chromedriver) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\srividya\anaconda3\lib\site-packages (from selenium==4.0.0b4->undetected-chromedriver) (1.26.4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\srividya\anaconda3\lib\site-packages (from selenium==4.0.0b4->undetected-chromedriver) (0.9.2)
Requirement already satisfied: sniffio in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (1.2.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (1.10)
Requirement already satisfied: idna in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (2.10)
Requirement already satisfied: cffi>=1.14 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (1.14.5)
Requirement already satisfied: sortedcontainers in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (2.3.0)
Requirement already satisfied: outcome in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (1.1.0)
Requirement already satisfied: pycparser in c:\users\srividya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium==4.0.0b4->undetected-chromedriver) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\srividya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium==4.0.0b4->undetected-chromedriver) (1.0.0)
Requirement already satisfied: certifi in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium==4.0.0b4->undetected-chromedriver) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium==4.0.0b4->undetected-chromedriver) (20.0.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium==4.0.0b4->undetected-chromedriver) (3.4.7)
Requirement already satisfied: six>=1.5.2 in c:\users\srividya\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium==4.0.0b4->undetected-chromedriver) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\srividya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium==4.0.0b4->undetected-chromedriver) (0.12.0)
Requirement already satisfied: chardet<5,>=3.0.2 in c:\users\srividya\anaconda3\lib\site-packages (from requests->undetected-chromedriver) (4.0.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver 
from selenium.common.exceptions import  StaleElementReferenceException
from selenium.common.exceptions import  NoSuchElementException,NoSuchWindowException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [3]:
driver = uc.Chrome()
with driver:
    driver.get(r"C:\Users\Srividya\Downloads\undetected-chromedriver-3.0.3.tar.gz")

In [4]:
url="https://www.naukri.com/"
driver.get(url)

In [5]:
search_job=driver.find_element_by_xpath("//input[@class='sugInp']")
search_job

In [6]:
search_job.send_keys("Data Analyst")

In [7]:
search_loc=driver.find_element_by_xpath("//input[@name='location']")
search_loc

In [8]:
search_loc.send_keys("Bangalore")

In [9]:
time.sleep(1)

In [10]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']")

In [11]:
try:  
    search_btn.click()
except StaleElementReferenceException as e:
    search_btn.click()

In [12]:
urls=[]
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in titles:
    urls.append(i.get_attribute("href"))
urls

['https://www.naukri.com/job-listings-tcs-hiring-for-senior-data-analyst-bfsi-domain-tata-consultancy-services-ltd-chennai-bangalore-bengaluru-6-to-11-years-090921006929?src=jobsearchDesk&sid=16313019007786961&xp=1&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-trigent-software-private-limited-bangalore-bengaluru-5-to-10-years-080921602383?src=jobsearchDesk&sid=16313019007786961&xp=2&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-trigent-software-private-limited-bangalore-bengaluru-5-to-10-years-080921002381?src=jobsearchDesk&sid=16313019007786961&xp=3&px=1',
 'https://www.naukri.com/job-listings-tcs-hiring-for-mdm-master-data-management-data-analyst-bfsi-domain-tata-consultancy-services-ltd-chennai-bangalore-bengaluru-6-to-11-years-090921006980?src=jobsearchDesk&sid=16313019007786961&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-idam-services-glaxosmithkline-pharmaceuticals-limited-bangalore-bengaluru-4-to-8-years-080921501391?src=jobsearchDesk&sid=16313019007786961&xp=5&px=1',
 'https://www.naukri.com/job-listings-data-analyst-sr-data-engineer-syren-technologies-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-4-to-9-years-080921005341?src=jobsearchDesk&sid=16313019007786961&xp=6&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-mcafee-software-india-pvt-ltd-bangalore-bengaluru-6-to-8-years-100921500968?src=jobsearchDesk&sid=16313019007786961&xp=7&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-in4-walmart-labs-bangalore-bengaluru-8-to-10-years-090921500551?src=jobsearchDesk&sid=16313019007786961&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-analyst-python-sql-affine-bangalore-bengaluru-3-to-5-years-080921903676?src=jobsearchDesk&sid=16313019007786961&xp=9&px=1',
 'https://www.naukri.com/job-listings-executive-data-analyst-gokaldas-exports-ltd-bangalore-bengaluru-0-to-3-years-030921004749?src=jobsearchDesk&sid=16313019007786961&xp=10&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-google-data-studio-sql-ave-promagne-bangalore-bengaluru-3-to-8-years-070921902812?src=jobsearchDesk&sid=16313019007786961&xp=11&px=1',
 'https://www.naukri.com/job-listings-senior-data-analyst-virtusa-consulting-services-pvt-ltd-hyderabad-secunderabad-pune-gurgaon-gurugram-chennai-bangalore-bengaluru-mumbai-all-areas-8-to-12-years-300821008987?src=jobsearchDesk&sid=16313019007786961&xp=12&px=1',
 'https://www.naukri.com/job-listings-systems-and-data-analyst-safety-and-provisioning-aecom-india-private-limited-bangalore-bengaluru-2-to-7-years-090921900357?src=jobsearchDesk&sid=16313019007786961&xp=13&px=1',
 'https://www.naukri.com/job-listings-sr-data-analyst-empower-retirement-bangalore-bengaluru-5-to-8-years-090921502717?src=jobsearchDesk&sid=16313019007786961&xp=14&px=1',
 'https://www.naukri.com/job-listings-sr-analyst-data-analysis-tesco-bengaluru-bangalore-bengaluru-2-to-4-years-090921502415?src=jobsearchDesk&sid=16313019007786961&xp=15&px=1',
 'https://www.naukri.com/job-listings-business-data-analyst-mis-reporting-intertrust-group-mumbai-bangalore-bengaluru-3-to-8-years-270121001879?src=jobsearchDesk&sid=16313019007786961&xp=16&px=1',
 'https://www.naukri.com/job-listings-data-analyst-morgan-stanley-advantage-services-pvt-ltd-bangalore-bengaluru-5-to-10-years-090921501664?src=jobsearchDesk&sid=16313019007786961&xp=17&px=1',
 'https://www.naukri.com/job-listings-people-analytics-data-analyst-marvell-india-pvt-ltd-bangalore-bengaluru-3-to-5-years-100921500681?src=jobsearchDesk&sid=16313019007786961&xp=18&px=1',
 'https://www.naukri.com/job-listings-data-analyst-sas-alteryx-podium-systems-pune-chennai-gurgaon-gurugram-bangalore-bengaluru-4-to-9-years-100921901852?src=jobsearchDesk&sid=16313019007786961&xp=19&px=1',
 'https://www.naukri.com/job-listings-data-analyst-edtech-talentstack-bangalore-bengaluru-2-to-6-years-080921904427?src=jobsearchDesk&sid=16313019007786961&xp=20&px=1']

In [51]:
job_titles=[]
for i in urls:
    driver.get(i)
    try:
        job_title=driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        job_titles.append( job_title.text)
        
    #except NoSuchWindowException as e:
        #print("exception handled")
    except NoSuchElementException  as e:
        job_titles.append("_")
            
job_titles

['Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'SENIOR DATA ANALYST',
 'Senior Data Analyst IN4',
 'Data Analyst - Python/SQL',
 'Executive Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 '_',
 '_',
 'Sr Data Analyst',
 'Sr Analyst - Data Analysis',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'People Analytics - Data Analyst',
 'Data Analyst SAS+Alteryx',
 'Data Analyst - EdTech']

In [52]:
job_titles.remove(job_titles[11])

In [53]:
job_titles.remove(job_titles[11]) 
job_titles

['Tcs Hiring For Senior Data Analyst (bfsi domain)',
 'Business Data Analyst',
 'Business Data Analyst',
 'Tcs Hiring For MDM (master data management) Data Analyst (bfsi domain)',
 'Senior Data Analyst IDAM Services',
 'Data Analyst/Sr.Data Engineer',
 'SENIOR DATA ANALYST',
 'Senior Data Analyst IN4',
 'Data Analyst - Python/SQL',
 'Executive Data Analyst',
 'Business Data Analyst - Google Data Studio & SQL',
 'Sr Data Analyst',
 'Sr Analyst - Data Analysis',
 'Business Data Analyst - MIS & Reporting',
 'Data Analyst',
 'People Analytics - Data Analyst',
 'Data Analyst SAS+Alteryx',
 'Data Analyst - EdTech']

In [55]:
job_locations=[]
for i in urls:
    driver.get(i)
    try:
        job_location =driver.find_element_by_xpath("//div[@class='left']//a")
        job_locations.append(job_location.text)
        
    except NoSuchElementException  as e:
        job_locations.append("_")

job_locations

['Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 '_',
 '_',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune',
 'Bangalore/Bengaluru']

In [56]:
job_locations.remove(job_locations[11])

In [57]:
job_locations.remove(job_locations[11]) 
job_locations

['Chennai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune',
 'Bangalore/Bengaluru']

In [58]:
com_names=[]
for i in urls:
    driver.get(i)
    try:
        com_name =driver.find_element_by_xpath("//a[@class='pad-rt-8']")
        com_names.append( com_name.text)
        
    except NoSuchElementException  as e:
        com_names.append("_")
com_names

['Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'McAfee Software (India) Pvt. Ltd',
 'Walmart Labs',
 'Affine',
 'Gokaldas Exports Ltd',
 'AVE-Promagne',
 '_',
 '_',
 'Empower Retirement',
 'Tesco Bengaluru',
 'INTERTRUST GROUP',
 'Morgan Stanley Advantage Services',
 'Marvell India Pvt Ltd',
 'Podium Systems',
 'TalentStack']

In [59]:
com_names.remove(com_names[11])

In [60]:
com_names.remove(com_names[11])   
com_names

['Tata Consultancy Services Ltd.',
 'Trigent Software',
 'Trigent Software',
 'Tata Consultancy Services Ltd.',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'SYREN TECHNOLOGIES PRIVATE LIMITED',
 'McAfee Software (India) Pvt. Ltd',
 'Walmart Labs',
 'Affine',
 'Gokaldas Exports Ltd',
 'AVE-Promagne',
 'Empower Retirement',
 'Tesco Bengaluru',
 'INTERTRUST GROUP',
 'Morgan Stanley Advantage Services',
 'Marvell India Pvt Ltd',
 'Podium Systems',
 'TalentStack']

In [61]:
exp_reqs=[]
for i in urls:
    driver.get(i)
    try:
        exp_req =driver.find_element_by_xpath("//div[@class='exp']//span")
        exp_reqs.append(exp_req.text)
        
    except NoSuchElementException  as e:
        exp_reqs.append("_")
exp_reqs

['6 - 11 years',
 '5 - 10 years',
 '5 - 10 years',
 '6 - 11 years',
 '4 - 8 years',
 '4 - 9 years',
 '6 - 8 years',
 '8 - 10 years',
 '3 - 5 years',
 '0 - 3 years',
 '3 - 8 years',
 '_',
 '_',
 '5 - 8 years',
 '2 - 4 years',
 '3 - 8 years',
 '5 - 10 years',
 '3 - 5 years',
 '4 - 9 years',
 '2 - 6 years']

In [62]:
exp_reqs.remove(exp_reqs[11])

In [63]:
exp_reqs.remove(exp_reqs[11])    
exp_reqs

['6 - 11 years',
 '5 - 10 years',
 '5 - 10 years',
 '6 - 11 years',
 '4 - 8 years',
 '4 - 9 years',
 '6 - 8 years',
 '8 - 10 years',
 '3 - 5 years',
 '0 - 3 years',
 '3 - 8 years',
 '5 - 8 years',
 '2 - 4 years',
 '3 - 8 years',
 '5 - 10 years',
 '3 - 5 years',
 '4 - 9 years',
 '2 - 6 years']

In [64]:
if len(job_titles)==len(job_locations)==len(com_names)==len(exp_reqs):
    print("length of list scraped are equal")
else:
    print("length of list scraped are not equal")

length of list scraped are equal

In [66]:
Nos=[]
for i in range(1,len(job_titles)+1):
    Nos.append(i)
Nos

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [67]:
import pandas as pd
NaukriJob=pd.DataFrame({})
NaukriJob['Nos']=Nos[:10]
NaukriJob['Job Titles']=job_titles [:10]
NaukriJob['Job Locations']=job_locations[:10]
NaukriJob['Company Names']=com_names[:10]
NaukriJob['Experience_Required']=exp_reqs[:10]
NaukriJob.style.hide_index()

These are the first 10 jobs results from the Jobdetails we scrapped from Naukri